@{
    ViewBag.Title = "Contact Us";
}
@model Contact

<form asp-action="ContactUs" asp-controller="Contact" method="post" class="contactForm">
    <h1 class="headerText">Contact Us</h1>
    <div class="form-group">
        <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <textarea asp-for="Message" class="form-control" id="message" rows="3"
            placeholder="Enter your message"></textarea>
    </div>
    <button type="submit" class="contactButton">Submit</button>
</form>

@* <form asp-action="ContactUs" asp-controller="Contact" method="post" class="contactForm">
    <fieldset>
    <p>
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    </p>
    <p>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    </p>
    <p>
    <label asp-for="Message"></label>
    <input asp-for="Message" />
    </p>
    <p>
    <button type="submit" class="btn btn-primary">Save</button>
    </p>
    </fieldset>
    </form> *@